.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  row-gap: 20px;
}

.messageList {
  border-radius: 10px;
  border: 1px solid #605454c7;
  width: 50vw;
  height: 60vh;
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 15px;
}

.message {
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #292b2c;
}

.messageText {
  word-wrap: break-word;
}

.messageLogin {
  font-weight: 700;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.inputLogin {
  outline: none;
  border-radius: 4px;
  border: 1px solid#dadce2;
  background: #fff;
  padding: 4px 8px;
  font-family: inherit;
  color: #0f1416;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.inputText {
  border-radius: 4px;
  border: 1px solid #dadce2;
  outline: none;
  background: #fff;
  padding: 4px 8px;
  color: #0f1416;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.controlButton {
  border-radius: 4px;
  border: 2px solid #c9dde8;
  padding: 6px 16px;
  background: #e7f0f5;
  color: #006297;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
